@bg_error: #FFCCCC;
@bg_success: #B9F6CA;
@bg_warning: #F4FF81;

@color_error: #DA300E;
@color_success: #3c763d;
@text_color: #424242;
@text_color_hover: #1A237E;

@size_result: 250px;
@max_size: 200px;

@back_transparent: rgba(255,255,255,0.5);

html{
  background: no-repeat left top;
  background-size: 100%;
}

body{
  background:none;
}

.border-radius(@radius: 10px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.fullsized{
  height: 100%;
  width: 100%;
}

#wrap {
  padding-left: 10px;
  padding-right: 10px;
  #main{
    overflow: auto;
  }
}

#commands-root{
  background-color: @back_transparent;
  padding-bottom: 20px;
}

.error{
  background-color: @bg_error;
  padding: 5px;
  color: @color_error;
}

.success{
  background-color: @bg_success;
  padding: 5px;
  color: @color_success;
}

#result{
  border: solid black 1px;
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
  min-height: @size_result;
  background-color: @back_transparent;
}

#result-controllers{
  margin-top: 10px;
}

#result-results{
  .result-results{
    margin: 5px 0 5px 0;
  }
  i{
    width: 80px;
    display: inline-block;
  }
}

#login{
  position: absolute;
  left:35%;
  overflow: hidden;
  width: 480px;
  background-color: @back_transparent;
  padding-bottom: 20px;
  form{
    .fullsized;
    button{
      margin-top: 20px;
    }
    label{
      margin-top: 20px;
    }
  }
}


.message {
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 40%;
  width: 300px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
  z-index: 9999;
  &.success{
    background-color: @bg_success;
    color: white;
  }
  &.error{};
}

.disabled{
  background-color: lightgrey;
  border-color: darkgray;
  color:gray;
}

.loading {
  .fullsized;
  z-index: 9999;
  position: absolute;
  top:0;
  right: 0;
  .border-radius;
  div{
    position: absolute;
    text-align: center;
    border:solid 0 white;
    .border-radius;
    .fullsized;
    span{
      display: block;
      text-align: center;
      color:black;
      text-transform: uppercase;
    }
    img{
      margin-top:@size_result/2.5;
    }
  }
}

.commands(@color){
  padding: 10px;
  margin:10px 0 10px 0;
  background-color: @color;
  border: solid 1px @color;
}

#contain-commands{
  margin-bottom: 50px;
  .easy_commands{
    .border-radius;
    .commands(@bg_success)
  }
  .hard_commands{
    .border-radius;
    .commands(@bg_error)
  }
  .script_commands{
    .border-radius;
    .commands(@bg_warning);
  }
}

footer {
  position: relative;
  clear: both;
  height: 50px;
  text-align: center;
  color: white;
  margin-top: 1px;
}
.inputs-parent{
  text-align: center;
  .inputs{
    width: 100%;
    margin-top: 10px;
    display:inline-block;
    text-align: center;
  }
}


#items-container{
  left:30px;
  top:60px;
}

#players-container{
  right:35px;
}

#players-container, #items-container{
  height:90%;
  width: 300px;
  position: absolute;
  top:60px;
  background-color: @back_transparent;
  overflow-y: auto;
  margin: auto;
  text-align: center;
  .players{
    display: inline-block;
    text-align: left;
    margin: 5px auto 5px auto;
    .border-radius();
    width: 250px;
    background-color: rgba(110,150,190,0.8);
    .players-data{
      margin: 5px 0 0 10px;
      .player-data{
        padding: 5px;
      }
    }
    &.active{
      background-color: rgba(53, 220, 0, 0.8);
    }
  }
}

.active{
  background-color: rgba(53, 220, 0, 0.8) !important;
}

#players-controller, #items-controller{
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 32px;
  img{
    width: 32px;
    height: 32px;
    position: relative;
    right: 0;
  }
  &:active{
    background-color: rgba(0, 0, 0, 0.25);
  }
}

#items-controller{
  div{
    display: inline-block;
  }
  .refresh{
    width: 15%;
  }
  .search{
    width: 75%;
  }
}

#table-items{
  tr{
    color:white;
    &.darker{
      background-color: rgba(0, 0, 0, 0.6);
    }
    &.lighter{
      background-color: rgba(0, 0, 0, 0.45);
    }
  }
  td{
    text-align: center;

    img{
      width: 42px;
      height: 42px;
    }
  }
}

