@import "spiner.css";
html {
  background: no-repeat left top;
  background-size: 100%;
}
body {
  background: none;
}
footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.5);
  text-align: center;
  color: white;
}
footer ul li {
  list-style: none;
}
nav a:hover {
  cursor: pointer;
}
.fullsized {
  height: 100%;
  width: 100%;
}
#wrap {
  /*padding-left: 10px;
  padding-right: 10px;*/
}
#wrap #main {
  overflow: auto;
}
.error {
  background-color: #FFCCCC;
  padding: 5px;
  color: #DA300E;
  margin-top: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.success {
  background-color: #B9F6CA;
  padding: 5px;
  color: #3c763d;
}
#result {
  border: solid black 1px;
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
  min-height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
}
#result-controllers {
  margin-top: 10px;
}
#result-results .result-results {
  margin: 5px 0 5px 0;
}
#result-results i {
  width: 80px;
  display: inline-block;
}
#login {
  position: absolute;
  left: 35%;
  overflow: hidden;
  width: 480px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
}
#login form {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
#login form button {
  margin-top: 20px;
}
#login form label {
  margin-top: 20px;
}
#login a {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.message {
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 40%;
  width: 300px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
  z-index: 9999;
}
.message.success {
  background-color: #B9F6CA;
  color: white;
}
#messageLogin {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  position: relative;
  bottom: 0;
  margin-top: 250px;
}
.disabled {
  background-color: lightgrey;
  border-color: darkgray;
  color: gray;
}
.loading {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.loading div {
  position: absolute;
  text-align: center;
  border: solid 0 white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.loading div span {
  display: block;
  text-align: center;
  color: black;
  text-transform: uppercase;
}
.loading div img {
  margin-top: 100px;
}
#contain-commands {
  margin-bottom: 50px;
}
#contain-commands .easy_commands {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: #B9F6CA;
  border: solid 1px #B9F6CA;
}
#contain-commands .hard_commands {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: #FFCCCC;
  border: solid 1px #FFCCCC;
}
#contain-commands .script_commands {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: #F4FF81;
  border: solid 1px #F4FF81;
}
#contain-commands .spinner {
  position: absolute;
  top: 20px;
  left: 390px;
}
.inputs-parent {
  text-align: center;
}
.inputs-parent .inputs {
  width: 100%;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}
/*
#items-container{
  left:30px;
  top:60px;
}

#players-container{
  right:35px;
}
*/
#commands-root {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}
#players-container {
  padding: 0;
  margin-left: 10px;
}
#items-container {
  padding: 0;
  margin-right: 10px;
}
#main-command {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
  width: 68%;
  overflow: hidden;
}
#players-container,
#items-container {
  min-height: 85vh;
  max-height: 85vh;
  width: 15%;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: auto;
  text-align: center;
}
#players-container .players,
#items-container .players {
  display: inline-block;
  text-align: left;
  margin: 5px auto 5px auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 250px;
  background-color: rgba(110, 150, 190, 0.8);
}
#players-container .players .players-data,
#items-container .players .players-data {
  margin: 5px 0 0 10px;
}
#players-container .players .players-data .player-data,
#items-container .players .players-data .player-data {
  padding: 5px;
}
#players-container .players.active,
#items-container .players.active {
  background-color: rgba(53, 220, 0, 0.8);
}
#players-container #items,
#items-container #items {
  background-color: rgba(255, 255, 255, 0.7);
}
#players-container #items .copielink:hover,
#items-container #items .copielink:hover {
  cursor: pointer;
  text-decoration: underline;
}
#loading_item .spinner,
#loading_player .spinner {
  position: absolute;
  top: 45%;
  left: 43%;
}
.active {
  background-color: rgba(53, 220, 0, 0.8) !important;
}
#players-controller,
#items-controller {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 32px;
}
#players-controller img,
#items-controller img {
  width: 32px;
  height: 32px;
  position: relative;
  right: 0;
}
#players-controller:active,
#items-controller:active {
  background-color: rgba(0, 0, 0, 0.25);
}
#players-controller div,
#items-controller div {
  display: inline-block;
}
#players-controller .refresh,
#items-controller .refresh {
  width: 15%;
}
#players-controller .search,
#items-controller .search {
  width: 75%;
}
#loading_player_top .spinner {
  position: absolute;
  top: -5px;
  left: 10px;
  z-index: 999;
}
#table-items {
  width: 100%;
}
#table-items tr {
  width: 283px;
}
#table-items tr.darker {
  background-color: #a2a2a2;
  color: white;
}
#table-items tr.lighter {
  background-color: #484848;
  color: white;
}
#table-items td {
  text-align: center;
}
#table-items td img {
  width: 42px;
  height: 42px;
}
#languages {
  color: #9d9d9d;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: #222222;
}
#languages li {
  background-color: #222222;
  display: inline-block;
  position: relative;
}
#languages li:hover {
  cursor: pointer;
}
#languages li:hover ul {
  max-height: 15em;
}
#languages ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  position: relative;
  top: 16px;
  z-index: 1000;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: .7s all .1s;
  -webkit-transition: .7s all .1s;
  transition: .7s all .1s;
}
#languages ul li {
  padding: 0 15px 0 15px;
  display: inherit;
}
#languages ul li:hover {
  border-radius: 0;
  background-color: #9d9d9d;
}
#languages ul li:active {
  background-color: #3c763d;
}
#main_myservers {
  background-color: rgba(255, 255, 255, 0.7);
}
#main_myservers .spinner > div {
  background-color: rgba(0, 0, 0, 0.6);
}
#main_myservers h1 {
  float: left;
}
#main_myservers h1 span {
  font-size: 20px;
  position: relative;
  top: -5px;
  left: 15px;
}
#main_myservers h1 span i {
  position: relative;
  left: -10px;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#main_myservers i:hover {
  cursor: pointer;
}
#main_myservers i:active {
  color: #2b542c;
}
#servers {
  clear: both;
}
#servers .server {
  position: relative;
  z-index: 99;
  width: 150px;
  border: 1px solid #9d9d9d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 10px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}
#servers .server:hover {
  cursor: pointer;
}
#servers .server:active {
  background-color: #2b542c;
}
#servers .server h4 {
  font-size: 14px;
  margin: 0;
  text-decoration: underline;
}
#servers .server .infos {
  margin-top: 20px;
}
#servers .server .infos .info {
  margin-bottom: 10px;
}
#servers .server .top {
  position: absolute;
  z-index: 100;
  right: 5px;
}
#servers .server .top i {
  position: relative;
}
#servers .server .top i:first-child {
  right: 5px;
}
#servers .server .top i:last-child {
  right: 0;
}
#changeServer {
  position: absolute;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px;
  top: 10%;
  left: 45%;
  display: none;
  width: 260px;
}
#changeServer i {
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 5px;
}
#changeServer #formServer {
  margin-top: 10px;
}
#newUser {
  background-color: rgba(255, 255, 255, 0.7);
}
#aboutus_main {
  background-color: rgba(255, 255, 255, 0.7);
}
