<div id="aboutus_main" class="container">
    <h1>{{'ABOUTUS_TITLE' | translate}}</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis tellus leo, at dictum risus fringilla
        id. Vivamus aliquet mattis nisl. Maecenas nec ante gravida, luctus turpis vulputate, gravida tortor. Fusce
        tincidunt arcu lorem, a faucibus tellus tempor ut. Aenean dignissim tempor cursus. In vel lectus sodales, dictum
        sem vitae, volutpat neque. Curabitur urna enim, tristique a placerat a, congue convallis purus. Ut facilisis
        dapibus porta. Vestibulum ipsum mauris, mollis vitae urna at, eleifend pellentesque justo. Nulla sodales arcu
        vestibulum tellus pretium, sed egestas ante rhoncus. Cras ut consectetur leo. Suspendisse feugiat, magna quis
        pulvinar pretium, enim purus tempus nunc, id pellentesque lectus risus placerat ante.
    </p>

    <h1>{{'CONTACT_TITLE' | translate}}</h1>
    <ul>
        <li>E-Mail: <a href="mailto:contact@rcon4games.com">contact@rcon4games.com</a></li>
        <li>{{'HOMEWEBSITE' | translate}}: <a href="http://www.rcon4games.com/" target="_blank">www.rcon4games.com</a></li>
    </ul>
</div>