<div class="container" id="commands-root" ng-controller="CommandesController" ng-init="check_user()">
    <div id="contain-commands">
        <h1>Liste des commandes</h1>

        <div id="commands">
            <div class="col-xs-12 col-lg-12 col-md-12 easy_commands">
                <div class="col-xs-6 col-lg-3 col-md-3">
                    <div class="btn btn-success" ng-click="send_command('ListPlayers')">
                        Lister les joueurs en ligne
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-md-3 inputs-parent">
                    <div class="btn btn-success"
                         ng-click="send_command('SetTimeOfDay', default[0].hour + ':' + default[0].minute)">
                        Changer l'heure du serveur
                    </div>
                    <div class="inputs">
                        <label for="hour">H:</label>
                        <input id="hour" name="hour" type="number" max="23" min="0" step="1"
                               ng-model="default[0].hour"/>
                        <label for="minute">m:</label>
                        <input id="minute" name="minute" type="number" max="60" min="0" step="1"
                               ng-model="default[0].minute"/>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-md-3 inputs-parent">
                    <div class="btn btn-success" ng-click="send_command('Broadcast', broadcast_text)">
                        Envoyer un message
                    </div>
                    <div class="inputs">
                        <textarea name="broadcast_text" ng-model="broadcast_text"/>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-md-3">
                    <div class="btn btn-success" ng-click="send_command('saveworld')">
                        Faire une sauvegarde du serveur
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-12 col-md-12 hard_commands">
                <div class="col-xs-5 col-lg-2 col-md-3">
                    <div class="btn btn-danger" ng-confirm-click="T'es sur de toi?"
                         ng-click="send_command('destroywilddinos')">
                        Tuer tous les dinos
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-12 col-md-12 script_commands" ng-controller="ScriptsController">
                <div class="col-xs-5 col-lg-2 col-md-3">
                    <div class="btn btn-warning" ng-confirm-click="T'es sur de toi?" ng-click="send_script('stop')">
                        Stoper le serveur
                    </div>
                </div>
                <div class="col-xs-5 col-lg-2 col-md-3">
                    <div class="btn btn-warning" ng-confirm-click="T'es sur de toi?" ng-click="send_script('start')">
                        Démarrer le serveur
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 col-md-4">
                    <div class="btn btn-warning" ng-click="send_script('status')">
                        Connaitre l'état du serveur le serveur
                    </div>
                </div>
                <div class="col-xs-5 col-lg-2 col-md-3">
                    <div class="btn btn-warning" ng-confirm-click="T'es sur de toi?" ng-click="send_script('kill')">
                        Kill le serveur
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-12 col-md-12" id="result" ng-controller="MainController">
        <div id="result-results">Pas encore de données !</div>
        <div class="loading" ng-show="loading">
            <div id="loading">
                <img src="media/img/loader.gif"/>
                <span>Chargement...</span>
            </div>
        </div>
        <div id="result-error">
            <div id="result-error-content"></div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-12 col-md-12" id="result-controllers">
        <button class="btn btn-warning" ng-click="clear_result()">Supprimer les résultats</button>
    </div>
</div>
<div id="back-container">
    <div class="backs"></div>
    <div class="backs"></div>
    <div class="backs"></div>
    <div class="backs"></div>
</div>