<div id="login" class="form-group col-xs-12 col-lg-12 col-md-12 animated" ng-controller="LoginController">
    <form role="form" name="loginForm" class="col-xs-3 col-lg-3 col-md-3" ng-submit="login(user)" novalidate>
        <input type="hidden">
        <input type="hidden">

        <div class="bloc-login">
            <label for="username">{{'USERNAME' | translate}}:</label>
            <input id="username" name="username" type="text" ng-model="user.username" class="form-control" required/>

            <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                <div class="error" ng-show="loginForm.username.$error.required">{{'USERNAME_REQUIRED' | translate}}
                </div>
            </div>
        </div>

        <div class="bloc-login">
            <label for="password">{{'PASSWORD' | translate}}:</label>
            <input id="password" name="password" type="password" ng-model="user.password" class="form-control" required/>

            <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                <div class="error" ng-show="loginForm.password.$error.required">{{'PASSWORD_REQUIRED' | translate}}
                </div>
            </div>
        </div>

        <button ng-disabled="loginForm.$invalid" ng-class="{true: 'disabled'}[loginForm.$invalid]" type="submit" class="btn btn-primary">{{'LOGIN' | translate}}</button>
    </form>

    <a href="#/newuser">{{'NEW_USER' | translate}}</a>


<div id="messageLogin" class="animated" ng-show="messageLogin"></div>

</div>